In [4]:
import pandas as pd
import random

In [5]:
data = pd.read_excel("Sample_data.xlsx")
data.head()

        C   n       M
0  159.00   2  259.00
1  129.00  45  174.00
2  115.31  21  154.00
3  111.25   5  111.25
4  111.69   7  111.69

In [6]:
R = []
for index, row in data.iterrows():
    temp_R = random.uniform(row['C'],row['M'])
    R.append(temp_R)

In [19]:
def objective(data, r, problems):
    with_problems = 0
    without_problems = 0
    for index, row in data.iterrows():
        with_problems += (r[index] - row["C"]) * row['n']
        if i not in problems:
            without_problems += (r[index] - row["C"]) * row['n']
  
    return with_problems,without_problems

In [9]:
samples = data.to_dict('index')

objective(samples,R,[])

(31861.144208611397, 31861.144208611397)

In [10]:
sum(R)/len(R)

202.38427645338578

In [17]:
def D_calculator(data,R):
    D = []
    for index, row in data.iterrows():
        D_temp = (row['M'] - R[index])/row['M']
        D.append(D_temp)
    
    return sum(D)/len(R)

In [18]:
D_calculator(data,R)

0.12272740291966189